# Requirements file for DSQF project 2

# Math and data manipulation
numpy
pandas

# Data and related helpers
yfinance
tenacity

# ML
scikit-learn
arch

# Plots and visual helpers
matplotlib
tqdm

# Formatting
black
black[jupyter]

# Jupyter related
jupyter
ipykernel
jupytext
jupyter-collaboration
